.lora-normal {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
/* shared-style */

.secendry-bg{
    background-color: rgb(255, 248, 243);
}

.text-primary{
    color: rgb(253, 110, 10);
}
.section-title{
    font-size: 35px;
    font-weight: bold;
}
.section-description{
    font-size: 18px;

}
.btn-primary{
    color: white;
    padding: 18px 36px ;
    font-size: 20px ;
    border-radius: 5px;
    background-color: rgb(253, 110, 10);
    border: none;
}
.btn-primary-b{
    color: white;
}
.dark-1{
    color: rgb(24, 24, 24);
}
.dark-2{
    color: rgb(71, 71, 71);
}
.dark-3{
    color: rgb(117, 117, 117);
}
/* background images */
.header{
    width: 1550px;
    height: 737px;
    margin: 0 auto;
    border-radius: 10px;
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}


/* nav style */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 75px ;
    margin-right: 40px;
}
.nav-title{
    font-weight: bolder;
    font-size: 45px;
    /* margin-left: 10px; */
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin: 15px;

}
nav ul a{
    font-size: 25px;
    text-decoration: none;
}

/* banner styles */

.banner{
    display: grid;
    grid-template-columns: 970px 1fr;
    width: 585px;
    height: 356px;
}
.banner-containt{
margin : 50px 0 50px 75px;
padding: 17px;
width: 585px;
height: 356px;
}

.banner-gritins{
    margin-bottom: 5px;
    font-size: 40px;
    font-weight: 500;
}
.banner-title{
    font-size: 85px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
}
.banner-description{
    margin-top: 0;
    padding: 10px 10px 10px 0;
    align-items: start;
    font-size: 22px;
}
.banner-profile{
    /* margin-right: 10px; */
    padding-right: 10px;
width: 566px;
height: 576px;
}

/* for mobile device */

@media screen and (max-width:576px) {

nav{
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: auto;
}
nav ul{
    flex-direction: column-reverse;
    align-items: flex-start;
}
.header{
    background-color: transparent;
    background-image: none;
    width: fit-content;
}
.banner{

display: inline;
}  
.banner-profile{
    margin-top: 450px;
    margin-left: 10px;
    width: 200px;
    height: 300px;

}
.banner-containt{
    margin: 0%;
    height: 300px;
    width: 350px;
}
.banner-description, button{
    margin-bottom: 20px;
}
}

/* main styles */

main{
    max-width: 1140px;
    margin: 0 auto;
}

.about{
    border-radius: 10px;
    margin-top: 103px;
    padding: 100px 156px;
    word-spacing: 1.5px;
}
.about-items{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.section-title{
    text-align: center;
}

@media screen and (max-width: 576px) {
    .about-items{
        max-width: 90%;
        justify-content: center;
        font-size: small;
        text-align: center;
        align-items: stretch;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }
    .about{
        padding: 20px 15px;
        max-width: 380px;
        margin: 810px auto 0 auto;
    }
    .section-title{
        font-size: 17px;
    }
    .section-description{
        font-size: 8px;
    }
 .about-secondry-bg{
    max-width: 90%;

 }   
}

/* skills section */

.skills>h3{
    text-align: center;
    margin-top: 100px;
    font-weight: bold;
    font-size: 40px;
}
.skills>p{
    padding: 20px 35px;
    text-align: center;
}

.skill-container{
    display: grid;
    grid-template-columns: 250px 250px 250px;
    height: 300px;
    justify-content: space-between;
    grid-column: auto;
    margin: 20px auto;
    align-items: center;
}
.skill{
    margin-top: 60px;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 0px black;
}
.resume{
    margin-top: 750px;
}
.resume-section-title{
    margin-top: 60px;
    text-align: center;
    font-size: 45px;
}
.resume-container{
    margin-top: 50px;
    display: flex;
    gap: 150px;
}
.last-btn{
    text-align: center;
    margin-top: 50px;
}